<!DOCTYPE HTML>
<html>
<head>
<title>PhoneGap</title>
<link rel="stylesheet" type="text/css" href="jquery.mobile-1.2.0.css" />
<meta http-equiv="Content-type" content="text/html" charset="utf-8" />
</head>
<body>
<div data-role="collapsible-set">
    <div data-role="collapsible">
        <h3>Etape 1</h3>
        <ul data-role="listview">
            <li>Instruction 1</li>
            <li>Instruction 2</li>
            <li>Instruction 3</li>
            <li>Instruction N</li>
        </ul>
    </div>
    <div data-role="collapsible">
        <h3>Etape 2</h3>
        <ul data-role="listview">
            <li>Instruction 1</li>
            <li>Instruction 2</li>
            <li>Instruction 3</li>
            <li>Instruction N</li>
        </ul>
    </div>
    <div data-role="collapsible">
        <h3>Etape 3</h3>
        <ul data-role="listview">
            <li>Instruction 1</li>
            <li>Instruction 2</li>
            <li>Instruction 3</li>
            <li>Instruction N</li>
        </ul>
    </div>
    <div data-role="collapsible">
        <h3>Etape 4</h3>
        <ul data-role="listview">
            <li>Instruction 1</li>
            <li>Instruction 2</li>
            <li>Instruction 3</li>
            <li>Instruction N</li>
        </ul>
    </div>
    <div data-role="collapsible">
        <h3>Etape N</h3>
        <ul data-role="listview">
            <li>Instruction 1</li>
            <li>Instruction 2</li>
            <li>Instruction 3</li>
            <li>Instruction N</li>
        </ul>
    </div>
</div>
</body>