<!DOCTYPE html>
<html>
<head>
</head>
<body data-role="page">
<div data-role="page">
<div data-role="header"></div>
<div data-role="content">
	<script type="text/javascript" charset="utf-8" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCo7bE_ev-M_HhWiWOkAVjKZndLa-zVbP0&sensor=true"></script>
	<script type="text/javascript" charset="utf-8" src="../libs/cordova-2.4.0.js"></script>
	<script type="text/javascript" src="../js/googlemaps.js"></script>
	
	<div id="map_canvas" style="width : 300px; height : 350px;"></div>
</div>
<div data-role="footer"></div>
</div>
</body>
</html>
