<!DOCTYPE HTML>
<html>
<head>
<title>PhoneGap</title>
<link rel="stylesheet" type="text/css" href="jquery.mobile-1.2.0.css" />
<script type="text/javascript" charset="utf-8" src="jquery.min.js"></script>
<script type="text/javascript" charset="utf-8"
	src="jquery.mobile-1.2.0.js"></script>
	<script type="text/javascript">$.ajax({
  type: "GET",
  url: "http://bo16x221mobileg1.dx.am/service.php?type=listeGroupes&params=enquete-1",
  dataType: "script"
}).done(function(msg) {
  $(".listeGroupes").html( msg );
});;
</script>
<script type="text/javascript" charset="utf-8" src="cordova-1.5.0.js"></script>
<meta http-equiv="Content-type" content="text/html" charset="utf-8" />
</head>
<body>

<ul data-role="listview">
    <li><a href="listeEtapesGroupe.html" data-transition="slidefade" data-inline="true">Groupe 1</a></li>
    <li><a href="listeEtapesGroupe.html" data-transition="slidefade" data-inline="true">Groupe 2</a></li>
    <li><a href="listeEtapesGroupe.html" data-transition="slidefade" data-inline="true">Groupe 3</a></li>
    <li><a href="listeEtapesGroupe.html" data-transition="slidefade" data-inline="true">Groupe 4</a></li>
    <li><a href="listeEtapesGroupe.html" data-transition="slidefade" data-inline="true">Groupe N</a></li>
</ul>
<div id="listeGroupes">toto</div>
</body>