<!DOCTYPE HTML>
<html>
<head>
<title>PhoneGap</title>
<link rel="stylesheet" type="text/css" href="jquery.mobile-1.2.0.css" />
<meta http-equiv="Content-type" content="text/html" charset="utf-8" />
</head>
<body>
<ul data-role="listview">
    <li><a href="listeEtapesGroupe.html" data-transition="slidefade" data-inline="true">Groupe 1</a></li>
    <li><a href="listeEtapesGroupe.html" data-transition="slidefade" data-inline="true">Groupe 2</a></li>
    <li><a href="listeEtapesGroupe.html" data-transition="slidefade" data-inline="true">Groupe 3</a></li>
    <li><a href="listeEtapesGroupe.html" data-transition="slidefade" data-inline="true">Groupe 4</a></li>
    <li><a href="listeEtapesGroupe.html" data-transition="slidefade" data-inline="true">Groupe N</a></li>
</ul>
</body>