<!DOCTYPE HTML>
<html>
	<head>
		<title>Title</title>
		<link rel="stylesheet" type="text/css" href="../css/jquery.mobile-1.2.0.css" />
		<meta http-equiv="Content-type" content="text/html" charset="utf-8" />
		<meta name = "viewport" content = "user-scalable=no,width=device-width" />
	</head>
	<body>
	
		<div data-role="page" id="pageIndex">
		
			<div data-role="header">
				Debriefing
			</div>
			
			<div data-role="content" data-theme="a">
				<a href="#pageInstruction" data-role="button" data-theme="a">Récupérer l'ordre de mission</a>
			</div>
			
			<div data-role="footer">
				BO16X221MOBILEG1
			</div>
			
		</div>
		
		<div data-role="page" id="pageInstruction">
		
			<div data-role="header">
				Instruction
			</div>
			
			<div data-role="content" data-theme="a" id="pageInstructionContent">
				Instruction
			</div>
			
			<div data-role="footer">
				BO16X221MOBILEG1
			</div>
			
		</div>	
		
		<script type="text/javascript" charset="utf-8" src="../libs/cordova-2.4.0.js"></script>
		<script type="text/javascript" charset="utf-8" src="../libs/jquery.min.js"></script>
		<script type="text/javascript" charset="utf-8" src="../libs/jquery.mobile-1.2.0.js"></script>
		<script type="text/javascript" charset="utf-8" src="../libs/GCMPlugin.js"></script>
		
		<script type="text/javascript" charset="utf-8" src="../js/pageInstruction.js"></script>
		
	</body>
</html>